.detailContainer{
  color: #cedbe4;
  width: fit-content;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.detailImage img{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}