.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer form{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 28px;
  color: #cedbe4;
  gap: 16px;
  border: 1px solid #cedbe4 ;
  border-radius: 20px;
}

.formContainer form section{
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin: 16px 16px 0 16px;
  gap: 16px
}
.formContainer label {
  width: 120px;
}
.formContainer p {
  margin-top: 0;
  padding-top: 0;
  color: #d6c689;
}
.formContainer input {
  width: 150px;
}

.formContainer form input span {
  color: #cedbe4
}

