.primaryButton{
  border: 0;
  background-image: linear-gradient(150deg, #192b37, #5f717f, #cedbe4);
  border-radius: 10px;
  color: #cedbe4;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  padding: 4px;
  cursor: pointer;
  transition: .3s;
}

.primaryButton span{
  background-color: #0e1213;
  padding: 10px 14px;
  border-radius: 6px;
  transition: .5s;
}

.primaryButton:hover span{
  background: none;
  color: #192b37;
}

.primaryButton:active{
  transform: scale(0.9)
}
