
.homePageContainer{
  color: #cedbe4;
}

.searchFilterContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 36px
}

.orderContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.searchFilterContainer{
  margin: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.searchFilterContainer a{
  text-decoration: none;
  color: #cedbe4
}

.orderAscDesc select{
  border: 2px solid #d6c689;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.orderByRating select{
  border: 2px solid #d6c689;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.paginationContainerCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 8px 28px;
}



